footer {
  background: var(--accent);
  color: #fff;
  padding: 1.5em 0;
  text-align: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  align-items: center;
  font-size: 1em;
}
.footer-content a {
  color: #C19A6B;
  margin: 0 0.5em;
  text-decoration: underline;
}